.App {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card {
  background-color: aliceblue;
  padding: 20px;
  margin-left: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 30px grey;
  border: 1px solid rgb(34, 156, 178);
  border-radius: 10px;
  font-weight: bold;
}
